{% extends 'base.html.twig' %}

{% block title %}Calendrier<3{% endblock %}

{% block body %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
    <div id="calendar"></div>
{% endblock %}

{% block javascripts %}
    <script>

    //Configuration général du calendrier
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          locale: 'fr',
          timeZone: 'Europe/Paris',
          headerToolbar: {
            locale: 'fr',
            start: 'prev,next today',
            center: 'title',
            end: 'dayGridMonth,timeGridWeek,listWeek'
          },
          events: {{data|raw}},
          editable: true,
          eventResizableFromStart: true,
        });

        //Quand une tâche est déplacé
        calendar.on('eventChange', (e)=>{
            let url = `/${e.event.id}`
            var donnees = {
                "title": e.event.title,
                "description": e.event.extendedProps.description,
                "start": e.event.start,
                "end": e.event.end,
                "allDay": e.event.allDay,
                "backgroundColor": e.event.backgroundColor,
                "borderColor": e.event.borderColor,
                "textColor": e.event.textColor,
            }
            console.log(donnees);
            let xhr = new XMLHttpRequest
            xhr.open("PUT", url)
            xhr.send(JSON.stringify(donnees))
          });
        calendar.render();
      });
    </script>
{% endblock %}